<div class="app-container" ng-controller="playersAppController">
<nav class="side-tab-menu">

	<div id="tab-1-title" class="tab-title" ng-click="tab = 1" ng-class="{active: tab == 1}">
		En ligne
	</div>

	<div id="tab-2-title" class="tab-title" ng-click="tab = 2" ng-class="{active: tab == 2}">
		Liste blanche
	</div>

	<div id="tab-3-title" class="tab-title" ng-click="tab = 3" ng-class="{active: tab == 3}">
		Banissements de joueurs
	</div>
	<div id="tab-3-title" class="tab-title" ng-click="tab = 4" ng-class="{active: tab == 4}">
		Banissements d'IP
	</div>

	<div class="separator"></div>

	<div id="tab-5-title" class="tab-title" ng-click="closeApp()">
		Quitter
	</div>

</nav>
<section class="tab-content">

	<div id="tab-1" ng-show="tab == 1" ng-controller="onlinePlayersAppController" class="tab">
		<div class="content">
			<h2>Joueurs en ligne</h2>
			<p>Les joueurs actuellement sur votre serveur</p>
			<div class="big-selector">
				<div class="row" ng-if="getOnlinePlayers().length == 0" >Aucun</div>
				<div class="row" ng-repeat="player in getOnlinePlayers()"  ng-class="{active: isSelected(player)}" ng-click="select(player)"><img class="headIcon" src="https://minotar.net/helm/{{player}}/100.png" />{{player}}</div>
			</div>
			<nav ng-if="playerSelected" class="tab-bottom-menu">
				<img class="headIcon" src="https://minotar.net/helm/{{playerSelected}}/100.png" />
				<div class="playerName">{{playerSelected}}</div>
				<div class="button" ng-Click="ban(playerSelected)">Banir</div><div class="button" ng-Click="kick(playerSelected)">Expulser</div><div class="button button-primary" ng-click="kill(playerSelected)">Tuer</div>
			</nav>
		</div>
	</div>

	<div id="tab-2" ng-show="tab == 2" class="tab">
		<div class="content">
			<h2>Joueurs sur la liste blanche</h2>
			<p>Si vous avez activé la liste blanche dans la configuration, les joueurs qui sont séléctionnés en dessous serons les seuls à pouvoir acceder au serveur.</p>
			<div class="big-selector">
				<div class="row" ng-if="whiteList.length == 0">Aucun</div>
				<div class="row" ng-repeat="player in whiteList"><img class="headIcon" src="https://minotar.net/helm/{{player.name}}/100.png" />{{player.name}}
				<div class="deleteIcon" ng-click="remWhitelist(player.name)"><i class="fi-minus"></i></div></div>
				<div class="row" >
				<img class="headIcon" src="/static/img/addPlayer.png" />
				<input type="text" ng-model="newWhitelistPlayer"/>
				<div class="button button-primary" ng-click="addWhitelist(newWhitelistPlayer)" >Ajouter a la liste blanche</div></div>
			</div>
		</div>
	</div>

	<div id="tab-3" ng-show="tab == 3" class="tab">
		<div class="content">
			<h2>Banissements de joueurs</h2>
			<p>Les joueurs inscris dans cette liste ne pourrons pas acceder au serveur.</p>
			<div class="big-selector">
				<div class="row" ng-if="bannedPlayers.length == 0">Aucun</div>
				<div class="row" ng-repeat="player in bannedPlayers"><img class="headIcon" src="https://minotar.net/helm/{{player.name}}/100.png" />{{player.name}}</div>
			</div>
		</div>
	</div>
	
	<div id="tab-4" ng-show="tab == 4" class="tab">
		<div class="content">
			<h2>Banissements d'IP</h2>
			<p>Les joueurs se connectant depuis ces IPs seront refusés quelque soit leurs nom.</p>
			<div class="big-selector">
				<div class="row" ng-if="bannedIps.length == 0">Aucune</div>
				<div class="row" ng-repeat="ip in bannedIps">{{ip.ip}}</div>
			</div>
		</div>
	</div>

</section>
</div>